.top {
    padding-top: 80px;
}

.top__title {
    word-spacing: 21px;
    text-align: center;
}

.top__content {
    max-width: 822px;
    margin: 147px auto 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    gap: 70px 20px;
    position: relative;
}

.top__text {
    max-width: 420px;
    font-family: "Neue Machina", sans-serif;
    font-size: 21.662px;
    font-weight: 400;
    line-height: 120%;
    opacity: 1;
    text-transform: uppercase;
}

.top__button {
    margin-left: 47px;
    font-weight: 800;
    position: relative;
}

.top__button::after {
    content: url("../../assets/images/arrow-right.svg");
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translate(-100%, -50%);
}

.top__picture {
    max-width: 740px;
    grid-column: 1 / 3;
}

.top__img {
    width: 100%;
}

.top__point-text {
    max-width: 190px;
    position: absolute;
    right: -25px;
    top: 110px;
}

.top__point-text::before {
    content: '';
    position: absolute;
    left: -37px;
    top: 5.5px;
    display: block;
    width: 11px;
    height: 11px;
    background-color: var(--secondary-color);
    border-radius: 2px;
}

.top__socials {
    position: absolute;
    right: -33px;
    top: 48%;
    transform: translateY(-50%);
}

.top__wrapper {
    max-width: 253px;
    position: absolute;
    bottom: 92px;
    left: 0;
}

.top__video-link {
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 6px 6px 6px 21px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.54);
    box-shadow: 0 0 34.9px 0 #FFF inset;
}

.top__wrapper-text {
    padding-left: 66px;
    margin-top: 17px;
}

.our-works__back {
    min-width: 1461px;
    bottom: -410px;
}

.our-works__title {
    padding-left: 92px;
}

.our-works__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.our-works__swiper {
    display: none;
}

.our-works__button {
    display: none;
}


.cases__title {
    padding-left: 133px;
}

.cases__item {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 30px;
}

.cases__box {
    min-width: 440px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 0 0 25.5px 0 rgba(255, 255, 255, 0.65) inset;
    position: relative;
    padding: 22px 20px 12px;
}

.cases__top {
    align-items: flex-start;
    display: flex;
    gap: 50px;
}

.cases__wrapper {
    min-height: 60px;
}

.cases__shape {
    margin-top: 5px;
    border: 4px solid var(--orange-2);
    border-radius: 2px;
    position: static;
}

.cases__img {
    width: 100%;
}

.cases__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cases__list-item {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.cases__swiper-mob {
    display: none;
}

.cases__bottom {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 415px;
}

.cases__text {
    margin-top: 10px;
}

.cases__back {
    bottom: -260px;
    min-width: 1620px;
    width: 1620px;
}

.import {
    padding: 400px 0 200px;
}

.import::after {
    top: 200px;
    bottom: 0;
}

.import__container {
    max-width: 1392px;
}

.import__title {
    padding-left: 43px;
}

.import__content {
    width: 1352px;
    height: 719px;
    padding: 39px 100px 66px;
    border-radius: 20px;
    border: 2px solid var(--secondary-color);
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0 0 21.688px 0 #FFF inset;
}

.import__swiper {
    height: 719px;
}

.import__wrapper {
    padding: 0 6px;
    margin-top: 25px;
}

.import__class {
    font-size: 12px;
    opacity: .8;
}

.import__img {
    padding: 0 6px;
}

.import__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    align-items: center;
    transition: var(--block-transition);
    overflow: hidden;
    border-radius: 20px;
    padding: 0 10px 26px;
}

.import__item:hover,
.import__item:active {
    transform: scale(1.01);
    background: var(--secondary-color);
    box-shadow: 0 0 25.5px 0 rgba(255, 255, 255, 0.65) inset;
}

.import__shape {
    top: 7px;
    left: 6px;
}

.import__text {
    margin-top: 50px;
    font-size: 12px;
    padding: 0 6px;
}

.import__button {
    height: 0;
    overflow: hidden;
    transition: var(--button-transition);
    transform: translateY(100px);
}

.import__item:hover .import__button,
.import__item:active .import__button {
    height: 50px;
    transform: translateY(0);
}

.import__item:hover .import__text,
.import__item:active .import__text {
    min-height: 95px;
}

.import__bottom {
    display: flex;
    justify-content: center;
    gap: 426px;
    align-items: center;
    margin-top: 60px;
}

.import__back {
    min-width: 1215px;
    width: 1215px;
    bottom: -300px;
}

@media (max-width: 1800px) {
    .cases__back,
    .our-works__back,
    .all-news__back,
    .import__back{
        width: 800px;
        min-width: 800px;
    }
    .cases__back {
        bottom: 400px;
    }

    .all-news__back {
        bottom: -200px
    }

    .our-works__back {
        bottom: -100px;
    }

    .import__back {
        bottom: 200px;
    }
}

@media (max-width: 1220px) {
    .top__socials,
    .top__point-text {
        right: 0;
    }

    .import__content {
        width: 1300px;
        padding: 20px 39px;
    }

    .import__back {
        bottom: 0;
    }

    .cases__bottom,
    .import__bottom {
        gap: 20px;
        justify-content: space-between;
    }

    .import__bottom {
        padding: 0 20px;
    }

    .cases__box {
        min-width: 40%;
    }
}


@media (max-width: 900px) {
    .top__socials {
        right: 50%;
        transform: translateX(50%);
        top: auto;
        bottom: 0;
    }

    .top__wrapper,
    .our-works__list {
        display: none;
    }

    .our-works__swiper {
        display: block;
    }

    .our-works__back {
        bottom: -200px;
    }

    .cases__swiper,
    .cases__nav {
        display: none;
    }

    .cases__item {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .cases__box {
        min-width: 100%;
        padding: 36.5px 40px;
    }

    .cases__shape {
        position: absolute;
        top: 13px;
        left: 13px;
        border-radius: 5px;
        border: 5px solid var(--orange);
    }

    .cases__swiper-mob {
        display: block;
    }

    .cases__bottom {
        justify-content: center;
    }

    .cases__import {
        font-size: 12px;
    }

    .cases__name {
        min-height: 65px;
        font-size: 15px;
    }

    .import {
        padding-top: 150px;
        padding-bottom: 0;
    }
}


@media (max-width: 768px) {
    .top {
        padding-top: 44px;
    }

    .top__container {
        padding: 0;
    }

    .top__title {
        padding: 0 20px;
    }

    .top__content {
        grid-template-columns: 100%;
        gap: 0;
        margin-top: 40px;
    }

    .top__text {
        text-align: center;
        margin: 0 auto;
        font-size: 17.662px;
        padding: 0 14px 0 20px;
    }

    .top__point-text {
        position: relative;
        margin: 40px auto 0;
        right: auto;
        top: auto;
    }

    .top__button {
        width: 259px;
        font-weight: 400;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 66px;
        margin-left: 0;
        z-index: 10;
    }

    .top__button::after {
        transform: translateX(-50%) rotate(90deg);
        left: 50%;
        top: -48px;
    }

    .top__picture {
        grid-column: 1 / 2;
    }

      .import {
        padding-top: 100px;
    }

    .import__bottom {
        justify-content: center;
    }
    
    .import__nav {
        display: none;
    }

    .footer {
        padding-top: 10px;
    }

}

@media (max-width: 560px) {
    :root {
        --page-bg: #BEC0C7;
    }
    .our-works__list {
        display: none;
    }

    .our-works__button {
        display: flex;
        width: 206px;
        margin: 40px auto 0;
    }

    .cases__back {
        bottom: 290px;
    }
}