.news__content {
    display: grid;
    grid-template-columns: calc(50% - 30px) calc(50% - 30px);
    gap: 67px 60px;
}

.news__text {
    margin-top: 30px;
}

.news__slide-img {
    border-radius: 20px;
}

.news__img-wrapper {
    min-height: 200px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.news__img {

    object-fit: cover;
}

.news__img-title {
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
}

.news__img-text {
    font-size: 12px;
    margin-top: 30px;
}

.news__img-left {
    max-width: 240px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px 0 0 20px;
    background: rgba(38, 41, 45, 0.90);
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
    padding: 20px;
}

.news__img-link {
    margin-top: auto;
    color: #878CF5;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.news__img {
    height: 100%;
}

.news__slide-text {
    font-size: 12px;
}

.news__slider {
    width: 100%;
    max-width: 560px;
}

.news__slide-name {
    margin: 25px 0;
}

.all-news {
    padding-top: 120px;
    padding-bottom: 0;
}

.all-news__img {
    transform: scale(0.6);
}

.popular-news {
    padding: 120px 20px 37px;
}

.popular-news__container {
    padding: 55px 83px 57px;
    border-radius: 30px;
    position: relative;
    border: 3px solid rgba(62, 62, 72, 0.50);
}

.popular-news__swiper {
    min-width: 1580px;
}

.popular-news__name {
    min-height: 32px;
    margin: 20px 0;
}

.popular-news__text {
    font-size: 12px;
}

.popular-news__nav {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    justify-content: center;
    position: absolute;
}

.popular-news__img {
    border-radius: 20px;
}

.footer {
    padding-top: 157px;
}

@media (max-width: 1220px) {
    .news__content {
        gap: 40px;
    }
}


@media (max-width: 900px) {
    .news__content {
        grid-template-columns: 100%;
    }

    .news__img-wrapper {
        max-width: 560px;
        margin: 0 auto;
    }

    .news__wrapper:nth-child(1) {
        grid-row: 2 / 3;
        margin-bottom: 20px;
    }

    .news__slider {
        margin: 0 auto 20px;
    }

    .news__img-wrapper:nth-child(3) {
        grid-row: 4 / 5;
    }

    .popular-news__container {
        padding: 0;
        border: none;
    }

    .popular-news__nav {
        display: none;
    }

    .footer {
        padding-top: 10px;
    }
}