
.main {
    overflow: visible;
}

.services {
    position: static;
}
.services__back {
    top: 0;
    left: 50%;
    position: absolute;
    z-index: -1;
    transform: translateX(-50%);
}

.services__title {
    justify-content: flex-start;
}

.services__list {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 0 45.5px 560px;
}


.services__item-line {
    width: 3px;
    height: 51px;
    border-radius: 10px;
    margin-left: 60px;
    background-color: var(--secondary-color);
}

.services__box {
    left: 0;
    height: 500px;
    bottom: 0;
    padding: 80px 52px 33px 80px;
    top: auto;
    gap: 30px 0;
    color: var(--secondary-color);
    transform: none;
    background: url("../../assets/images/services-bg.png") no-repeat center center / cover;
}

.services__item--active .services__box {
    display: flex;
    flex-direction: column;
}

.services__box-title {
    max-width: 668px;
}

.services__text {
    margin: 0;
    max-width: 802px;
}

.services__buttons {
    margin-top: auto;
    align-self: flex-end;
}
.services__buttons .button-transparent-2 {
    font-weight: 800;
}
.services__shape {
    position: static;
    margin-top: 3px;
}

.services__wrapper {
    display: flex;
    gap: 20px;
    padding: 0;
}

.about-services {
    padding-top: 120px;
}
.about-services__top-title {
    text-align: center;
}

.about-services__top-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 55px;
    margin-top: 60px;
}

.about-services__shape {
    position: static;
    flex-shrink: 0;
    border: 5px solid var(--secondary-color);
}

.about-services__top-item {
    display: flex;
    gap: 20px;
}

.about-services__top-item .about-services__shape {
    width: 25px;
    height: 25px;
}

.about-services__wrapper {
    margin-top: 120px;
    display: flex;
    align-items: center;
    gap: 70px 20px;
    justify-content: space-between;
}

.about-services__left {
    max-width: 482px;

}
.about-services__title {
    margin-left: 30px;
}
.about-services__list {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-services__item {
    display: flex;
    gap: 20px;
}

.about-services__bottom-box {
    max-width: 573px;
    margin-top: 120px;
    font-weight: 700;
    padding: 64px 45px;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


.footer {
    padding-top: 120px;
}
@media (max-width: 1200px) {

    .services__list {
        gap: 20px;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    }
    .services__item-line {
        display: none;
    }
}

@media (max-width: 900px) {
 .services__list {
     padding-bottom: 0;
     flex-direction: column;
     gap: 0;
 }

    .services__back {
        left: 0;
        top: 50px;
    }

    .services__wrapper {
        padding: 40px 0;
    }
    .services__box {
        gap: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 30px 20px;
        height: auto;
    }

    .services__buttons {
        width: 100%;
    }
    .services__buttons .button-white {
        display: none;
    }

    .services__item-title {
        font-size: 18px;
    }

    .about-services__top-list {
        grid-template-columns: 1fr 1fr;
    }

    .about-services__wrapper {
        flex-direction: column;
    }

    .about-services__img-wrapper {
        order: -1;
    }

    .about-services__bottom-box {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .about-services {
        padding-top: 150px;
    }

    .about-services__title,
    .about-services__top-title{
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: start;
        gap: 20px;
        font-family: "Neue Machina", sans-serif;
        font-size: 20px;
    }

    .about-services__title::before,
    .about-services__top-title::before{
         content: "";
        display: block;
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        border: 11px solid var(--secondary-color);
    }
    .about-services__wrapper {
        margin-top: 150px;
    }

    .about-services__top-list {
        grid-template-columns:  1fr;
        padding: 0 47px;
    }

    .about-services__bottom-box {
        display: none;
    }

    .footer {
        padding-top: 10px;
    }
}

@media (max-width: 560px) {
    .services__back {
        left: 0;
        right: 0;
        width: 100%;
        transform: none;
    }

}